<h1>Stupid coaching</h1>

<h2>
<%= @question %>
<p><% puts %> <%= "-You" %></p>
</h2>

<div class="answer">
    <% if @question == "I am going to work" %>
    <% puts %> <%= "Great!" %>
    <% elsif @question.include?('?')%>
    <% puts %> <%= "Silly question, get dressed and go to work!" %>
    <% else %>
    <% puts %> <%= "I don't care, get dressed and go to work!" %>
    <% end %>
    <p><% puts %> <%= "-Your coach" %></p>
</div>

<div class="link">
<%= link_to "Ask a new question", ask_path %>
</div>
